<Div class="container">
    <h1 class="yellow">Class Album</h1>
    <ul class="list-group small-width">
        <li class="list-group-item">tosin</li>
        <li class="list-group-item">lola</li>
        <li class="list-group-item">tola</li>
        <li class="list-group-item">fola</li>
        <li class="list-group-item">kunle</li>
    </ul>
    <hr />
    <ul class="list-group small-width li-no-bullet">
        <li *ngFor="let trainees of academy">

            <div class="card" style="width: 18rem;">
                <img src="./assets/img/{{trainees.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ trainees.name }}</h5>
                    <p class="card-text">complexion: {{ trainees.complexion }}</p>
                    <ul class="card-text ">
                        <p><strong>Hobbies</strong></p>
                        <li *ngFor="let hobby of trainees.hobbies">{{ hobby }}</li>
                    </ul>
                </div>
            </div>



        </li>
    </ul>
    <hr />
</Div>