<div class="wrapper">
    <div class="container">
        <h1 class="center title">fintrak Academy Album</h1>
        <!-- <h1 <h1 class="yellow">Class Album</h1>
    <ul class="list-group small-width">
        <li class="list-group-item">tosin</li>
        <li class="list-group-item">lola</li>
        <li class="list-group-item">tola</li>
        <li class="list-group-item">fola</li>
        <li class="list-group-item">kunle</li>
    </ul>
    <hr />  -->

        <div class="row">
            <div class="col-md-4" *ngFor="let trainees of academy; let i=index">

                <app-trainee [trainees]="trainees"></app-trainee>

            </div>


        </div>

    </div>
</div>